
/* Styling for wrapper for form and calendar */

.booking-information {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 2rem;
}

/* Styling for the booking form */

section#hotel-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    height: fit-content;
}

#hotel-booking-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

input {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input.feature {
    width: 20px;
    height: 20px;
    margin: 1rem;
}


fieldset {
    max-width: 100%;
    overflow: scroll;
}

fieldset legend {
    width:auto;
    display: inline-block;
}

select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem;
    padding: 0.75rem;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.checkbox {
    display: flex;
    align-items: center;
}

/* Styling for the ATM form */

section#atm {
    display: flex;
    max-width: 30rem;
    height: fit-content;
    padding: 3.125rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

}

section#atm p, section#atm h2 {
    text-align: center;
}

form#withdraw-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: 0.625rem;
}

p.withdrawal {
    width: fit-content;
    padding: 2rem;
    height: fit-content;
}

