header {
    max-width:100%;
    height: 25rem;
    background: url('../images/header-image.png') lightgray center center / cover no-repeat;
    position: relative;
    display: flex;
}

#header-logo {
    position: absolute;
    bottom: 220px;
    left: 50px;
}

.stars-display {
    display: flex;
    width: 60%;
    justify-content: center;
}

#intro {
    display: flex;
    padding: 0rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    margin-top: 4rem;
}

#intro p {
    max-width: 58rem;
}

/* nav {
    margin: auto;
    display: flex;
    width: fit-content;
    align-self: flex-end;
    height: fit-content;
    align-self: baseline;
    position: absolute;
    bottom: 0;
    left: 25%;

} */

