section#hotel-rooms-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.3125rem;
}

#hotel-rooms-description article {
    display: flex;
    width: 80%;
    height: fit-content;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin: auto;
}

#hotel-rooms-description img {
    width: 40%;
    height: 26rem;
    flex-shrink: 0;
    object-fit: cover;
}

